.App-header-area {
  /* text-align: center; */
 
} 
.App{
  overflow: auto;
}

.App-logo {
  height: 100vh;
  width:100vw;
  pointer-events: none;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.head-word{
  min-height: 10vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: large;   /*change 1*/
  justify-content: center;
  color:white;
}

.About-decription{
  display: flex;
  height:40vh;
  padding:2vw;
}

.About-statement{
  background-color:green;
  font-size: large;
  color:white;
  padding:1vw;
  max-width:60vw;
  margin:0 1vw 0 0;
}

.About-pic{
  background-color:orange;
  font-size: large;
  color:white;
  padding:1vw;
  width: 33vw;
}








 /* .App {
  text-align: center;
} */
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
